.animated-option-button {
    -fx-background-color: #F1F1F1;
    -fx-background-radius: 50px;
    -fx-pref-height: 50px;
    -fx-pref-width: 50px;
    -fx-min-width: -fx-pref-width;
    -fx-max-width: -fx-pref-width;
    -fx-min-height: -fx-pref-height;
    -fx-max-height: -fx-pref-height;
    -jfx-button-type: RAISED;
}
.animated-option-button .jfx-rippler{
    -jfx-rippler-fill: rgb(113, 118, 114);
}

.sub-icon{
    -fx-fill: rgb(113, 118, 114);
}

.root-button {
    -fx-pref-width: 60px;
    -fx-background-color: #0039cb;
    -fx-background-radius: 60px;
    -fx-pref-height: 60px;
    -fx-min-width: -fx-pref-width;
    -fx-max-width: -fx-pref-width;
    -fx-min-height: -fx-pref-height;
    -fx-max-height: -fx-pref-height;
    -jfx-button-type: RAISED;
}
.root-button .jfx-rippler{
    -jfx-rippler-fill: rgba(255,255,255, .87);
}
.main-icon{
    -fx-fill: rgba(255,255,255, .87);
}

.jfx-hamburger > StackPane {
    -fx-pref-width: 24;
    -fx-background-color: white;
}

.jfx-hamburger {
    -fx-spacing: 5;
}
